@using Web_AppointmentSystem.MVC.ViewModels.AuthVM
@{
    Layout = null;
}
@model ForgotPasswordVM
<div class="container">
    <form method="post">
        <label>Email Address</label>
        <input asp-for="Email" placeholder="Enter your email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <button style="margin-top: 15px;" class="btn btn-primary" type="submit">Send Email</button>
    </form>
</div>
