@using Web_AppointmentSystem.MVC.ViewModels
@model ReviewPageVM
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<div class="breadcumb-wrapper background-image" style="background-image: url('assets/img/breadcumb/breadcumb-bg-3.jpg');">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">We love beauty!</h1>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="vs-blog-wrapper blog-details space-top space-extra-bottom">
    <div class="container">
        <div class="row gx-50">
            <div class="col-lg-8 col-xxl-9">
                <div class="vs-blog blog-single has-post-thumbnail">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog-s-1-1.jpg" alt="Blog Image">
                    </div>
                    <div class="blog-content">
                        <div class="blog-category">
                            <a href="blog.html">Beauty</a>
                        </div>
                        <h2 class="blog-title">Health by or through water</h2>
                        <div class="blog-meta">
                            <a href="blog.html"><i class="fas fa-user"></i>by Admin</a>
                            <a href="blog.html"><i class="fas fa-calendar-alt"></i>March 10, 2023</a>
                            <a href="blog.html"><i class="far fa-comments"></i>0 comments</a>
                        </div>
                        <p>We think your skin should look and feel refreshed. Nourish your inner and outer beauty with our essential oil-infused beauty products. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <blockquote class="vs-quote">
                            <p>“Beauty products Lorem ipsum dolor sit amet, consectetur adipisicing...”</p>
                            <cite>Jon Deomax</cite>
                        </blockquote>
                        <div class="row mt-30">
                            <div class="col-md-6 mb-30">
                                <img src="assets/img/blog/blog-d-1-1.jpg" alt="Blog Image" class="w-100">
                            </div>
                            <div class="col-md-6 mb-30">
                                <img src="assets/img/blog/blog-d-1-2.jpg" alt="Blog Image" class="w-100">
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Solet conceptam an quo. Tamquam elaboraret quo. Pri ut detraxit iudicabit efficiantur officiis noius.</p>
                    </div>
                </div>
                <div class="vs-comments-wrap">
                    <h2 class="blog-inner-title">Existing Comments</h2>
                    <ul class="comment-list">
                        @if (Model.Reviews != null && Model.Reviews.Any())
                        {
                            @foreach (var review in Model.Reviews)
                            {
                                <li class="vs-comment-item">
                                    <div class="vs-post-comment">
                                        <div class="comment-content">
                                            <h4 class="name h4">@review.UserFullname</h4>
                                            <span class="commented-on">
                                                <i class="fal fa-calendar-alt"></i> @review.CreatedDate.ToString("dd MMMM, yyyy")
                                            </span>
                                            <p class="text">@review.Comment</p>
                                            <p class="text"><strong>Rating:</strong> @review.Rating / 5</p>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <p>No comments available.</p>
                        }
                    </ul>

                    <div class="vs-comment-form">
                        <div id="respond" class="comment-respond">
                            <h3 class="blog-inner-title">Leave a Comment</h3>
                            @{
                                bool isAuthenticated = HttpContextAccessor.HttpContext.Request.Cookies["token"] != null;
                            }
                            @if (isAuthenticated)
                            {
                                <form asp-action="Create" method="post">
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <textarea asp-for="ReviewCreateVM.Comment" class="form-control" placeholder="Comment"></textarea>
                                            <span asp-validation-for="ReviewCreateVM.Comment" class="text-danger"></span>
                                        </div>
                                        <div class="col-12 form-group">
                                            <input asp-for="ReviewCreateVM.Rating" type="number" min="1" max="5" class="form-control" placeholder="Rating (1-5)">
                                            <span asp-validation-for="ReviewCreateVM.Rating" class="text-danger"></span>
                                        </div>
                                        <div class="col-12 form-group">
                                            <button type="submit" class="vs-btn">Post Comment</button>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <div class="alert alert-warning">
                                    You need to <a href="/auth/Login">log in</a> to leave a comment.
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
