<div class="breadcumb-wrapper" data-bg-src="assets/img/breadcumb/breadcumb-bg-3.jpg">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Appointment</h1>
        </div>
    </div>
</div>

<section class="bg-light-3 space">
    <div class="shape-mockup jump-img d-none d-xxl-block" data-right="4%" data-top="10%">
        <img src="assets/img/shape/leaf-1-5.png" alt="shape">
    </div>
    <div class="shape-mockup jump-reverse-img d-none d-xxl-block" data-right="2%" data-bottom="5%">
        <img src="assets/img/shape/b-s-1-3.png" alt="shape">
    </div>
    <div class="shape-mockup jump-reverse-img d-none d-xxl-block" data-left="0" data-bottom="4%">
        <img src="assets/img/shape/b-s-1-2.png" alt="shape">
    </div>
    <div class="container">
        <div class="row gx-60">
            <div class="col-xl-5 mb-40 mb-xl-0 pb-20 pb-xl-0 wow fadeInUp" data-wow-delay="0.2s">
                <form action="https://html.vecurosoft.com/wellnez/demo/appointment-mail.php" class="form-style2 appointment-form">
                    <h2 class="form-title">Book Appointment</h2>
                    <p class="form-label">Today For Free</p>

                    <div class="form-group">
                        <input type="date" name="date" id="date" autocomplete="off" placeholder="Select Date" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")">
                    </div>
                    <div class="form-group">
                        <input type="time" name="startTime" id="startTime" class="form-control time-pick" placeholder="Select Start Time" min="09:00" max="18:00">
                    </div>

                    <div class="form-group">
                        <select name="subject" id="subject">
                            <option disabled="disabled" hidden selected="selected">Select Service</option>
                            <option>Sports Massage</option>
                            <option>Stone Massage</option>
                            <option>Head Massage</option>
                            <option>Facial & Massage</option>
                        </select>
                    </div>
                    <div class="form-group"><button class="vs-btn" type="submit">Make Appointment</button></div>
                    <p class="form-messages"></p>
                </form>
            </div>
            <div class="col-xl-7 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col-12 mb-5">
                        <h2 class="h3 mb-4 mt-n2">Get Expert Health Consultation</h2>
                        <p class="fs-md font-title mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                        <div class="row gy-2">
                            <div class="col-auto">
                                <p class="vs-info"><i class="fal fa-envelope"></i><a href="mailto:example@info.com" class="text-inherit">example@info.com</a></p>
                            </div>
                            <div class="col-auto">
                                <p class="vs-info"><i class="fal fa-phone-alt"></i><a href="tel:+441233456789" class="text-inherit">+441233456789</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 mb-30"><img src="assets/img/about/appoin-1-2.jpg" alt="about" class="w-100"></div>
                    <div class="col-md-5 mb-30"><img src="assets/img/about/appoin-1-1.jpg" alt="about" class="w-100"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="space">
    <div class="parallax" data-parallax-image="assets/img/bg/price-bg-2-1.jpg"></div>
    <div class="container">
        <div class="row flex-row-reverse gx-55">
            <div class="col-md-6 col-lg-6 col-xl-4 col-xxl align-self-end mb-40 mb-md-0 wow fadeInUp" data-wow-delay="0.2s">
                <div class="img-box3 style2">
                    <div class="shape-line">
                        <svg viewBox="0 0 442 357">
                            <path class="shape-line" d="..."></path>
                            <path class="shape-dot" d="..."></path>
                            <path class="shape-dot" d="..."></path>
                        </svg>
                    </div>
                    <div class="text-shape">
                        <svg viewBox="0 0 408 579">
                            <path id="textboxpath2" d="..."></path>
                            <text><textPath href="#textboxpath2" startOffset="810">Onsectttur adipiscung</textPath></text>
                        </svg>
                    </div>
                    <div class="img-product">
                        <a href="shop-details.html"><img src="assets/img/about/price-2-1-1.png" alt="about"></a>
                        <p class="product-title"><a href="shop-details.html" class="text-inherit">face vitamin</a></p>
                        <p class="product-price">$12.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-8 col-xxl-auto wow fadeInUp" data-wow-delay="0.3s">
                <div class="title-area text-center text-md-start">
                    <span class="text-white sec-subtitle">Experience Wellnez <span class="sec-subtext bg-theme">25 Years</span></span>
                    <h2 class="text-white sec-title">Perfect Package</h2>
                </div>
                <div class="price-inner2">
                    <div class="row vs-carousel" data-slide-show="2" data-lg-slide-show="1">
                        <div class="col-lg-6">
                            <div class="package-style1">
                                <div class="package-top">
                                    <div class="package-left">
                                        <p class="package-price">12<span class="currency">$</span></p>
                                        <p class="package-duration">Billed Monthly</p>
                                    </div>
                                    <h3 class="package-name">Basic Plan</h3>
                                </div>
                                <div class="package-list">
                                    <ul class="list-unstyled">
                                        <li><span class="text-title">Mobile-Optimized</span></li>
                                        <li>Free Custom Domain</li>
                                        <li>Best Hosting</li>
                                    </ul>
                                </div>
                                <div class="package-btn"><a href="contact.html" class="vs-btn style3">Book Now</a></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="package-style1">
                                <div class="package-top">
                                    <div class="package-left">
                                        <p class="package-price">29<span class="currency">$</span></p>
                                        <p class="package-duration">Billed Yearly</p>
                                    </div>
                                    <h3 class="package-name">Mega Plan</h3>
                                </div>
                                <div class="package-list">
                                    <ul class="list-unstyled">
                                        <li><span class="text-title">Mobile-Optimized</span></li>
                                        <li>Free Custom Domain</li>
                                        <li>Best Hosting</li>
                                    </ul>
                                </div>
                                <div class="package-btn"><a href="contact.html" class="vs-btn style3">Book Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="space">
    <div class="parallax" data-parallax-image="assets/img/bg/testi-bg-2-1.jpg"></div>
    <div class="container">
        <div class="title-area text-center">
            <span class="sec-subtitle">client testimonial</span>
            <h2 class="sec-title">Wellnez Customers</h2>
        </div>
        <div class="testi-style2">
            <span class="vs-icon"><img src="assets/img/icon/quote-1-1.png" alt="icon"></span>
            <div class="vs-carousel" data-slide-show="1" data-fade="true">
                <div>
                    <p class="testi-text">“We think your skin should look and refreshed with essential oil products”</p>
                    <h3 class="testi-name h5">Thomas Muller</h3>
                    <span class="testi-degi">CEO, SPATHINK</span>
                </div>
                <div>
                    <p class="testi-text">“From its medieval origins to the digital era, learn everything about lorem ipsum.”</p>
                    <h3 class="testi-name h5">William Shak</h3>
                    <span class="testi-degi">Manager, LDC</span>
                </div>
                <div>
                    <p class="testi-text">“Creation timelines for the standard lorem ipsum vary, some citing the 15th century.”</p>
                    <h3 class="testi-name h5">Vivi Marian</h3>
                    <span class="testi-degi">Customer</span>
                </div>
            </div>
        </div>
    </div>
</section>


